*{
    color: white !important;
}
.body{
  background-color: blanchedalmond;
}
.carousel-infor{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.p{
  color: rgb(14, 204, 221) !important;
}
.w h2,.w p,.w h1,.text-center h5,.text-center p{
    color: black !important;
}
.py-3{
    background-color: black;
}
.py-3,.py-3 a{
    color: white;
}
.navbar{
    background-color: rgb(49, 45, 45) !important;
    
}
.nav-item{
    color: white !important;
}
.sc{
    background-color:	rgb(53, 44, 44) !important;
}
.ft1{
    border-bottom: 1px solid black;
}
.cell i {
    float: left;
}

.phone i {
    float: left;
}
.email p{
    float: right;
}
.email .fa{
    float: left;
}
.dropdown-menu{
  background-color: 	rgb(53, 44, 44) !important;
}
.dropdown-item:hover{
  background-color: 	rgb(37, 28, 28) !important;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(39, 31, 31);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
}